<div class="body">
  <div class="post">
    <div class="header">
      <div class="visualization">
        <div class="lineLTop"></div>
        <div class="lineLDown"></div>
        <div class="lineR"></div>
        <div class="elipseLeft"></div>
        <div class="elipseRight"></div>
      </div>
      <ul class="postLogoUl">
        <li class="postLiLogo">
          <img class="postLogo" [src]="logo" alt="logo" />
        </li>
        <li class="postLiLogo">
          <h1 class="title">{{ title }}</h1>
        </li>
      </ul>
    </div>
    <div class="content">
      <form>
        <div class="values">
          <ul class="valuesUl">
            <div class="valuesText">
              <li class="postLi"><span>Сумма ипотеки</span></li>
              <li class="postLi">
                <input
                  type="text"
                  id="sum"
                  value="0"
                  name="sum"
                  [(ngModel)]="sum"
                />
              </li>
            </div>
            <div class="valuesText">
              <li class="postLi"><span>Начальный взнос</span></li>
              <li class="postLi">
                <input
                  type="text"
                  id="fee"
                  value="0"
                  name="fee"
                  [(ngModel)]="fee"
                />
              </li>
            </div>
            <div class="valuesText">
              <li class="postLi"><span>Процентная ставка</span></li>
              <li class="postLi">
                <input
                  type="text"
                  id="percent"
                  value="0"
                  name="percent"
                  [(ngModel)]="percent"
                />
              </li>
            </div>
            <div class="valuesText">
              <li class="postLi"><span>Срок в месяцах</span></li>
              <li class="postLi">
                <input
                  type="text"
                  id="term"
                  value="0"
                  name="term"
                  [(ngModel)]="term"
                />
              </li>
            </div>
          </ul>
        </div>
        <div class="conclusion">
          <ul>
            <li class="postLiButt">
              <input
                type="button"
                value="Ежемесячный платеж"
                (click)="calculator()"
              />
            </li>
            <li class="postLiText">
              <span>Ваш месяынй взнос составляет </span>
            </li>
            <li class="postLi">
              <textarea
                class="postTextarea"
                type="text"
                id="monthlyLnstallment"
              >
              </textarea>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>
