/* You can add global styles to this file, and also import other style files */
html {
  font-size: 1.3177vw;
  font-family: Vodafone;
  font-style: normal;
  margin: 0 auto;
  width: 100%;
}
body{
  margin: 0;
}